* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f3f3f3;
  overflow: hidden;
}

.card-container {
  position: relative;
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  transform: skewY(-10deg);
}

.card-content {
  position: relative;
  background: #fff;
  width: 300px;
  height: 400px;
  transition: 0.5s;
}
.card-content::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 15px;
  background: #00c0f6;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
}
.card-content::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: 15px;
  height: 100%;
  background: #00c0f6;
  transform-origin: left;
  transform: skewY(45deg);
  transition: 0.5s;
  border-bottom: 200px solid #d9d9d9;
}

.card-content:hover {
  transform: translateY(-40px);
}

.card-img {
  position: relative;
  width: 300px;
  height: 200px;
  background: #00c7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-icon {
  max-width: 100px;
}

.card-title {
  position: relative;
  color: #fff;
  margin-top: 10px;
}

.card-container .card-content .card-text {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 200px;
  padding: 20px;
  color: #777;
  text-align: center;
}

.card-text::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.1));
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  pointer-events: none;
  z-index: -1;
}

.card-container .card-content:hover .card-text::before {
  transform: translateY(40px) skewX(45deg);
  filter: blur(5px);
  opacity: 0.5;
}

.card-container .card-content:nth-child(1) {
  z-index: 3;
}
.card-container .card-content:nth-child(2) {
  z-index: 2;
}
.card-container .card-content:nth-child(3) {
  z-index: 1;
}
/* <<<<<<<<<<<<<<<<BUTTON CSS>>>>>>>>>>>>> */
#app-cover {
  width: 100%;
  margin-left: 1rem;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
  width: inherit;
}

.button-cover,
.knobs,
.layer-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer-btn {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer-btn {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 9 */
#button-9 .knobs:before,
#button-9 .knobs:after,
#button-9 .knobs span {
  position: absolute;
  top: 4px;
  width: 30px;
  height: 30px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 50%;
  transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-9 .knobs:before {
  content: 'ON';
  left: 0px;
}

#button-9 .knobs:after {
  content: 'OFF';
  right: -24px;
}

#button-9 .knobs:before,
#button-9 .knobs:after {
  color: #fff;
  z-index: 2;
}

#button-9 .knobs span {
  left: 4px;
  background-color: #03a9f4;
  z-index: 1;
}

#button-9 .checkbox:checked + .knobs:before {
  left: -24px;
}

#button-9 .checkbox:checked + .knobs:after {
  right: -1px;
}

#button-9 .checkbox:checked + .knobs span {
  left: 42px;
  background-color: #f44336;
}

#button-9 .checkbox:checked ~ .layer-btn {
  background-color: #fcebeb;
}
